# Ignore err'thang
*

# Excepot for...
!README.md

!client/
!client/src/
!client/src/**/
!client/src/**/*.tsx
!client/src/*.ts
!client/src/*.tsx
!client/src/*.css
!client/index.html
!client/tsconfig.json
!client/package.json
!client/yarn.lock

!data_processing/
!data_processing/python
!data_processing/python/Pipfile*
!data_processing/python/*.py
!data_processing/python/*.ipynb
!data_processing/*.md

# And of course, this fine file
!.gitignore
